<!DOCTYPE html>
<html lang="en">
  <head>

    <title>claendarMemo</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--메인 CSS-->
    <link rel='stylesheet' href='/stylesheets/claendarWrite.css' />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <!--폰트-->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap" rel="stylesheet">

    </head>
      <body>
        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-12">
              
              <!--일정1-->
              <div class="f">
                
                <a class="text-white">일정</a><a class="text-color:#082357"></a>\Schedule</a>

                <a class="text-white" href="#">로그아웃</a>
                <p>
                  <a class="text-white" href="http://localhost:3000/license">외부활동</a>
                </p>
                <p>
                  <a class="text-white" href="http://localhost:3000/graph/score">그래프</a>
                </p>
                <p>
                  <a class="text-white" href="http://localhost:3000/portfolio/template">포트폴리오</a>
                </p>
                <p>
                  <a class="text-white" href="#">회원정보</a>
                </p>
                <p>
                  <a class="text-white" href="http://localhost:3000/license">자격증</a>
                </p></div>

              <img src="../imge/box2.png" alt="" class="center-block" />
              <img src="../imge/save.png" alt="" class="center-block" />
              <a href="http://localhost:3000/calendar"><img src="../imge/load.png" alt="" class="center-block" /></a>
        </div>
      </div>
  </body>
</html>