<!DOCTYPE html>
<html lang="en">
  <head>
    <title>난새</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <style>
    .row:nth-of-type(1) {
      background-color: #78afd7;
      padding: 1% 100px;
    }
  </style>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <!--일정1-->
          <div class="calendar1">
            <a class="text-white" href="#">일정</a
            ><a class="text-color:#082357" href="#">\Schedule</a>

            <a class="text-white" href="#">로그아웃</a>
            <p>
              <a class="text-white" href="#">외부활동</a>
            </p>
            <p>
              <a class="text-white" href="#">그래프</a>
            </p>
            <p>
              <a class="text-white" href="#">포트폴리오</a>
            </p>
            <p>
              <a class="text-white" href="#">회원정보</a>
            </p>
            <p>
              <a class="text-white" href="#">자격증</a>
            </p>
            <img src="../imge/box2.png" alt="" class="center-block" />
            <img src="../imge/save.png" alt="" class="center-block" />
            <img src="../imge/load.png" alt="" class="center-block" />
          </div>
        </div>
      </div>
  </body>
</html>
