<!DOCTYPE html>
<html lang="en">
  <head>
    <title>회원가입</title>
    <meta charset="utf-8" />
    <link rel='stylesheet' href='/stylesheets/graphGrade.css' />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
        <div class="container-fluid">
          <div class="row">
            <div clas="col-xs-12">
              <!--그래프1-->
              <a class="text-white" href="#">그래프</a
              ><a class="text-color:#082357" href="#">\Graph</a>
              <a class="text-white" href="#">로그아웃</a>
              <p>
                <a class="text-white" href="#">일정</a>
              </p>
              <p>
                <a class="text-white" href="#">외부활동</a>
              </p>
              <p>
                <a class="text-white" href="#">포트폴리오</a>
              </p>
              <p>
                <a class="text-white" href="#">회원정보</a>
              </p>
              <p>
                <a class="text-white" href="#">자격증</a>
              </p>
              <img src="../imge/box5.png" alt="" class="center-block" />
              <a href="graph2.html"></a><img src="../imge/arrow1.png" alt="" class="center-block" /></a>
              <a href="graph1-1.html"><img src="../imge/plus.png" alt="" class="center-block" /></a>
              </div>
              </div>
              </div>
      </body>
    </html>
  </body>
</html>
