<!DOCTYPE html>
<html>
  <head>
    <title>index</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--메인 CSS-->
    <link rel="stylesheet" href="/stylesheets/index.css" />

    <!-- Bootstrap CSS -->
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous"
    />

    <!--폰트-->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap" rel="stylesheet">

  </head>
  <body class="body">
    <nav id="topNav" class="container-fluid">
      <a href="http://localhost:3000/calendar/write" class="left-text text-white">일정</a>
      <a href="http://localhost:3000/outdoor/Update" class="left-text text-white">외부활동</a>
      <a href="/calendar/write" class="left-text text-white">그래프</a>
      <a href="http://localhost:3000/portfolio/template/write" class="left-text text-white">포트폴리오</a>
      <a href="http://localhost:3000/license" class="left-text text-white">자격증</a>
      <a href="http://localhost:3000/users/mypage" class="left-text text-white">회원정보</a>

      <a href="http://localhost:3000/users/join" class="right-text text-white">회원가입</a>
      <a href="http://localhost:3000/users/login" class="right-text text-white">로그인</a>
    </nav>

    <div class="mx-auto text-center login-section">
      <div class="logo">
        <img src="./imge/logo.png" />
      </div>
      <div class="start">
        <a href="http://localhost:3000/users/join">
          <img src="./imge/start.png"/>
        </a>
      </div>
    </div>

  </body>
</html>
