<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.13.1/firebase-app.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
         https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/7.13.1/firebase-analytics.js"></script>

    <script>
      // Your web app's Firebase configuration
      var firebaseConfig = {
        apiKey: "AIzaSyAWnx8yp2eGG3RCDrdt9ejitTv4_yvMIMc",
        authDomain: "nansae-bcc5d.firebaseapp.com",
        databaseURL: "https://nansae-bcc5d.firebaseio.com",
        projectId: "nansae-bcc5d",
        storageBucket: "nansae-bcc5d.appspot.com",
        messagingSenderId: "688614872373",
        appId: "1:688614872373:web:d168e1265d9144256e287c",
        measurementId: "G-TWHPHEJBQN"
      };
      // Initialize Firebase
      firebase.initializeApp(firebaseConfig);
      firebase.analytics();
    </script>
  </body>
</html>
