<!DOCTYPE html>
<html>
  <head>
    <title>index</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!--메인 CSS-->
    <link rel="stylesheet" href="/stylesheets/index.css" />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <!--폰트-->
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="body">
    <div class="container">
      <div class="row">
        <div class="col">
          <!--메인페이지-->
          <ul class="nav-left">
            <li class="nav-calendarList">
              <a
                class="calendarList text-white"
                href="http://localhost:3000/calendar/write"
                >일정</a
              >
            </li>
            <li class="nav-outdoor">
              <a
                class="outdoor text-white"
                href="http://localhost:3000/outdoor/Update"
                >외부활동</a
              >
            </li>
            <li class="nav-graph">
              <a class="graph text-white" href="/calendar/write">그래프</a>
            </li>
            <li class="nav-portfolio">
              <a
                class="portfolio text-white"
                href="http://localhost:3000/portfolio/template/write"
                >포트폴리오</a
              >
            </li>
            <li class="nav-mypage">
              <a
                class="mypage text-white"
                href="http://localhost:3000/users/mypage"
                >회원정보</a
              >
            </li>
            <li class="nav-license">
              <a
                class="license text-white"
                href="http://localhost:3000/license/Update"
                >자격증</a
              >
            </li>
          </ul>
          <ul class="nav-right">
            <li class="nav-login">
              <a
                class="login text-white"
                href="http://localhost:3000/users/login"
                >로그인</a
              >
            </li>
            <li class="nav-join">
              <a class="join text-white" href="http://localhost:3000/users/join"
                >회원가입</a
              >
            </li>
          </ul>
        </div>
        <div class="image">
          <img src="./imge/logo.png" class="logo" />
          <a href="/users/login"
            ><img src="./imge/start.png" class="start"
          /></a>
        </div>
      </div>
    </div>
  </body>
</html>
