<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!--메인 CSS-->
    <link rel="stylesheet" href="/stylesheets/index.css" />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <!--폰트-->
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <!--메인페이지-->
          <div class="f">
            <a
              class="calendarList text-white col-sm-4"
              href="/calendar/write"
              >일정</a
            >
            <a
              class="outdoor text-white col-sm-4"
              href="/outdoor"
              >외부활동</a
            >
            <a
              class="graph text-white col-sm-4"
              href="/graph/score"
              >그래프</a
            >
            <a
              class="portfolio text-white col-sm-4"
              href="/portfolio/list"
              >포트폴리오</a
            >
            <a
              class="mypage text-white col-sm-2"
              href="/users/mypage"
              >회원정보</a
            >
            <a
              class="license text-white col-sm-4"
              href="/license"
              >자격증</a
            >
            <a
              class="login text-white col-sm-4"
              href="/users/login"
              >로그인</a
            >
            <a
              class="join text-white col-sm-4"
              href="/users/join"
              >회원가입</a
            >
          </div>
          <img src="./imge/logo.png" alt="" class="logo" />
          <p>
            <a href="/users/login">
              <img src="./imge/start.png" class="start"/>
            </a>
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
