<<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!--메인 CSS-->
    <link rel="stylesheet" href="/stylesheets/licenseAdd.css" />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <!--폰트-->
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div clas="col-xs-12">
          <!--회원정보-->
          <a class="text-white">회원정보</a
          ><a class="text-color:#082357">\profile</a>

          <a class="text-white" href="#">로그아웃</a>
          <p>
            <a class="text-white" href="http://localhost:3000/calendar/write">일정</a>
          </p>
          <p>
            <a class="text-white" href="http://localhost:3000/portfolio">외부활동</a>
          </p>
          <p>
            <a class="text-white" href="http://localhost:3000/portfolio/template">포트폴리오</a>
          </p>
          <p>
            <a class="text-white" href="http://localhost:3000/graph/score">그래프</a>
          </p>
          <p>
            <a class="text-white" href="http://localhost:3000/license">자격증</a>
          </p>
          <img src="../imge/box3.png" alt="" class="center-block" />
          <form>
            <div class="col-sm-3 input1">
              <label for="id ">일시</label>
              <input name="id" value="" id="id" class="form-control" />
            </div>
            <div class="col-sm-3 input2">
              <label for="id ">자격증명</label>
              <input name="id" value="" id="id" class="form-control" />
            </div>
            <div class="col-sm-3 input3">
              <label for="id ">발행처</label>
              <input name="id" value="" id="id" class="form-control" />
            </div>
            <div class="col-sm-3 input4">
              <label for="id ">내용</label>
              <input name="id" value="" id="id" class="form-control" />
            </div>
            <div class="col-sm-3 input5">
              <label for="id ">취득내역서</label>
              <input name="id" value="" id="id" class="form-control" />
            </div>
          </form>
          <img src="../imge/person.png" alt="" class="center-block" />
          <a href="http://localhost:3000/license"
            ><img src="../imge/check1.png" alt="" class="center-block"
          /></a>
        </div>
      </div>
    </div>
  </body>
</html>
