<!DOCTYPE html>
<html>
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--메인 CSS-->
    <link rel='stylesheet' href='/stylesheets/life.css' />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <!--폰트-->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap" rel="stylesheet">

  </head>
        <style>
          .row:nth-of-type(1) {
            background-color: #9678D7;
            border: 90px 100px;
          }
        </style>
      </head>
      <body>
        <div class="container-fluid">
          <div class="row">
            <div clas="col-xs-12">
              <!--외부활동1-->
              <a class="text-white">그래프</a
              ><a class="text-color:#082357">\Graph</a>
              <a class="text-white" href="#">로그아웃</a>
              <p>
                <a class="text-white" href="http://localhost:3000/calendar/write">일정</a>
              </p>
              <p>
                <a class="text-white" href="http://localhost:3000/outdoor">외부활동</a>
              </p>
              <p>
                <a class="text-white" href="http://localhost:3000/portfolio/template">포트폴리오</a>
              </p>
              <p>
                <a class="text-white" href="#">회원정보</a>
              </p>
              <p>
                <a class="text-white" href="http://localhost:3000/license">자격증</a>
              </p>
              <img src="../imge/box5.png" alt="" class="center-block" />
              <a href="http://localhost:3000/graph/score"><img src="../imge/arrow2.png" alt="" class="center-block" /></a>
              <a href="http://localhost:3000/graph/life/write"><img src="../imge/plus.png" alt="" class="center-block" /></a>
  </body>
</html>
