<!DOCTYPE html>
<html lang="en">
  <head>
    <title>로그인</title>
    <meta charset="utf-8" />
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
      <body>
        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-12">
              <!--회원가입페이지-->
              <a href="http://localhost:3000" class="text-left text-white">뒤로가기</a>
              <a href="http://localhost:3000/users/join" class="text-right text-white">회원가입</a>
              </a><img src="../imge/box4.png" alt="" class="center-block" />
              <Form name = "f" method="post">
                <table>
                  <tr>
                    <td align="center" colspan="2"><h4>로그인</h4></td>
                  </tr>
                  <tr>
                    <td>아이디</td>
                  <td><input type="text" name="id"></td>
                  </tr>
                  <tr>
                      <td>비밀번호</td>
                    <td><input type="text" name="pwd"></td>
                    </tr>
                  <tr>
                </form>
            </div>
          </div>
      </body>
    </html>
  </body>
</html>
