<!DOCTYPE html>
<html lang="ko">
  <head>

    <title>Login</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--메인 CSS-->
    <link rel='stylesheet' href='/stylesheets/login.css' />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!--폰트-->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap" rel="stylesheet">

  </head>
      <body class="body">
        <nav id="topNav" class="container-fluid">
          <a href="http://localhost:3000" class="back text-white">뒤로가기</a>
          <a href="http://localhost:3000/users/join" class="join text-white">회원가입</a>
        </nav>

        <div class="mx-auto text-center login-section">
          <div class="login">
            <div class="login-title">Login</div>
            <div class="login-form">

          <%
            if (!user_id) {
          %>
                  <form name="f" method="post">
                    <div class="login-id">
                      <input type="text" id="id" name="id" placeholder="아이디">
                    </div>
                    <div class="login-pw">
                      <input type="password" id="pwd" name="pwd" placeholder="비밀번호">
                    </div>
                    <button type="submit" class="login-btn">로그인</button>
                  </form>
          <%
            }
          %>
        </div>
      </div>
    </div>
  </body>
</html>