<!DOCTYPE html>
<html lang="en">
  <head>

    <title>Login</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--메인 CSS-->
    <link rel='stylesheet' href='/stylesheets/login.css' />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <!--폰트-->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap" rel="stylesheet">

  </head>
  <body>

    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">

          <!--로그인페이지-->
          <div class = f>
            <a href="javascript:history.back();" class="back text-left text-white">뒤로가기</a>
            <a href="/users/join" class="join text-right text-white">회원가입</a>
            <img src="../imge/box4.png" alt="" class="box4" />
          </div>

          <%
            if (!user_id) {
          %>
              <form name = "f" method="post" action="/users/login">
                <a class="Login" align="center" colspan="2"><h4>Login</h4></a>
                <a class="ID" >ID</a>
                <input class="id" type="text" name="id">
                <a class="PW">PW</a>
                <input class="pwd" type="text" name="pwd">
                <button type="submit" class="btn1">
                  <img src="../imge/check1.png" alt="" class="check1" />
                </button>
              </form>
          <%
            }
          %>
        </div>
      </div>
    </div>
  </body>
</html>