<!DOCTYPE html>
<html>
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--메인 CSS-->
    <link rel='stylesheet' href='/stylesheets/outdoorList.css' />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <!--폰트-->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap" rel="stylesheet">

  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div clas="col-xs-12">
          <!--외부활동1-->
          <a class="text-white">외부활동</a
          ><a class="text-color:#082357">\Active</a>

          <a class="text-white" href="#">로그아웃</a>
          <p>
            <a class="text-white" href="http://localhost:3000/calendar/write">일정</a>
          </p>
          <p>
            <a class="text-white" href="http://localhost:3000/graph/score">그래프</a>
          </p>
          <p>
            <a class="text-white" href="http://localhost:3000/portfolio/template">포트폴리오</a>
          </p>
          <p>
            <a class="text-white" href="#">회원정보</a>
          </p>
          <p>
            <a class="text-white" href="http://localhost:3000/license">자격증</a>
          </p>
          <div class="activity1">
            <!-- Search form -->
            <input
              type="text"
              class="form-control"
              aria-label="Default"
              placeholder="Recipient's username"
            />
            <img src="../imge/update.png" alt="" class="center-block" />
          </div>
          <!--tabel 생성-->
          <form
            name="f"
            method="post"
            onsubmit="return member_check();"
            action="memberPro_2412.jsp"
          >
            <table border="1" width="600">
              <tr>
                <td colspan="3"><b>회원 가입</b></td>
              </tr>
              <tr>
                <td width="20%">아이디</td>
                <td width="50%"><input name="id" size="15" /></td>
              </tr>

              <tr>
                <td>패스워드</td>
                <td><input type="password" name="pwd" size="15" /></td>
              </tr>
              <tr>
                <td>이름</td>
                <td><input name="name" size="15" /></td>
              </tr>
              <tr>
                <td>주민등록번호</td>
                <td>
                  <input name="num1" size="6" /> ex)830815 -
                  <input name="num2" size="7" /> ex)1234567
                </td>
              </tr>
              <tr>
                <td>Email</td>
                <td><input name="email" size="30" /></td>
              </tr>
              <tr>
                <td>전화번호</td>
                <td><input name="phone" size="12" /></td>
              </tr>
              <tr>
                <td>우편번호</td>
                <td><input name="zipcode" size="5" /></td>
              </tr>
              <tr>
                <td>주소</td>
                <td><input name="address" size="45" /></td>
              </tr>
              <tr>
                <td>직업</td>
                <td><input type="text" name="job" /></td>
              </tr>
            </table>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
