<!DOCTYPE html>
<html>
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--메인 CSS-->
    <link rel='stylesheet' href='/stylesheets/outdoorWrite.css' />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <!--폰트-->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap" rel="stylesheet">

  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div clas="col-xs-12">
          <!--외부활동3-->
          <a class="text-white">외부활동</a
            ><a class="text-color:#082357">\Active</a>
  
            <a class="text-white" href="#">로그아웃</a>
            <p>
              <a class="text-white" href="http://localhost:3000/calendar/write">일정</a>
            </p>
            <p>
              <a class="text-white" href="http://localhost:3000/graph/score">그래프</a>
            </p>
            <p>
              <a class="text-white" href="http://localhost:3000/portfolio/template">포트폴리오</a>
            </p>
            <p>
              <a class="text-white" href="#">회원정보</a>
            </p>
            <p>
              <a class="text-white" href="http://localhost:3000/license">자격증</a>
            </p>
          <div class="activity1">
            <!-- Search form -->
            <img src="../imge/write.png" alt="" class="center-block" />
            <img src="../imge/modify.png" alt="" class="center-block" />
          </div>
          <!--tabel 생성-->
          <form name="f" method="post">
            <table border="1" width="800">
              <tr>
                <td width="20%">아이디</td>
                <td height="30"><input name="id" size="15" /></td>
              </tr>
              <tr>
                <td width="20%">비밀번호</td>
                <td width="30"><input name="id" size="15" /></td>
              </tr>
              <tr>
                <td height="60">제목</td>
                <td><input name="name" size="15" /></td>
              </tr>
              <tr>
                <td height="250">내용</td>
                <td><input name="email" size="30" /></td>
              </tr>
            </table>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
