<!DOCTYPE html>
<html lang="ko">
  <head>
    <title>난새 - 포트폴리오</title>

    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!--메인 CSS-->
    <link rel="stylesheet" href="/stylesheets/portfolioList.css" />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

  </head>
  <body class="body">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="logo" href="/"
        ><img src="/imge/BLogo.png" width="79px" height="36px"
      /></a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="link nav-link" href="/calendar">일정</a>
          </li>
          <li class="nav-item">
            <a class="link nav-link" href="/outdoor">외부활동</a>
          </li>
          <li class="nav-item">
            <a class="link nav-link" href="/license">자격증</a>
          </li>
          <li class="nav-item">
            <a class="link nav-link" href="/portfolio">포트폴리오</a>
          </li>
        </ul>

        <span class="navbar-text">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="link nav-link" href="/users/mypage">회원가입수정</a>
            </li>
            <li class="nav-item">
              <a class="link nav-link" href="/users/logout">로그아웃</a>
            </li>
          </ul>
        </span>
      </div>
    </nav>
    <div class="container-fluid"></div>
    <div align="center">
      <span class="rounded-circle"></span>
      <div class="container tx1"><b>홍길동</b></div>
      <span class="rounded-lg">
        <ul class="f2">
          <li>email</li>
          <li>address</li>
        </ul>
        <ul class="f3">
          <li>phone</li>
        </ul>
      </span>
    </div>
    <!-- <input
      type="file"
      name="profile_pt"
      id="profile_pt"
      onchange="previewImage(this,'View_area')"
    /> -->
    <div class="container">
      <br />
      <!-- Nav tabs -->
      <div class = "c1">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#home">자격증</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#menu1">외부활동</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#menu2">프로젝트</a>
        </li>
      </ul>
    </div>

      <!-- Tab panes -->
      <div class="tab-content">
        <div id="home" class="container tab-pane active">
          <br />
          <div class="context container">
            <div class="float-right">
              <!-- action으로 폼 먹여서 할라했는데 되지 않아서 걍 a 태그 넣음 -->
              <form method="post">
                <a href="/license/add">
                  <button
                    type="button"
                    class="add-license btn btn-default btn-primary"
                  >
                    자격증 추가
                  </button>
                </a>
              </form>
            </div>
            <table class="table table-hover">
              <thead>
                <tr class="t">
                  <th>번호</th>
                  <th>자격증명</th>
                  <th>날짜</th>
                  <th>발행처</th>
                </tr>
              </thead>
              <tbody>
                <!-- 만약 자격증이 없다면 -->
                <tr>
                  <td class="text-center" colspan="4">
                    등록된 자격증이 없습니다.
                  </td>
                </tr>
                <!-- 자격증이 있다면 -->
                <tr class="t">
                  <td>165</td>
                  <td><a class="view" href="license/view">ITQ 한글</a></td>
                  <td>2016.12.02</td>
                  <td>한국생산성본부</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div id="menu1" class="container tab-pane fade">
          <br />
          <div class="context container">
            <div class="float-right">
              <!-- action으로 폼 먹여서 할라했는데 되지 않아서 걍 a 태그 넣음 -->
              <form method="post">
                <a href="/outdoor/add">
                  <button
                    type="button"
                    class="add-license btn btn-default btn-primary"
                  >
                    외부활동 추가
                  </button>
                </a>
              </form>
            </div>
            <table class="table table-hover">
              <thead>
                <tr class="t">
                  <th>활동명</th>
                  <th>시작 날짜</th>
                  <th>종료 날짜</th>
                </tr>
              </thead>
              <tbody>
                <!-- 만약 외부활동이 없다면
              <tr>
                <td class="text-center" colspan="4">등록된 외부활동이 없습니다.</td>
              </tr>
              -->
                <!-- 외부활동이 있다면 -->
                <tr class="t">
                  <td>네이버 앙트십</td>
                  <td>2018.03.17</td>
                  <td>2018.07.24</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div id="menu2" class="container tab-pane fade">
          <br />
          <div class="context container">

            <div class="row">
                <div class="single-card col-lg-4">
                    <a href="/project/view">
                        <div class="card">
                            <div class="thumbnail-wrapper">
                                <img class="card-img-top" src="https://mblogthumb-phinf.pstatic.net/MjAxNzAzMThfMTU4/MDAxNDg5ODM2Njg3MTE5.onC88ZW1tO95OqXzh2leWG1juX-o3EeYmyDAMdP568sg.gOTTU8M0ug5jwKn4rxnXMMWddklKfNxtykdZ605iuXkg.JPEG.star7sss/%EC%84%9C%EB%93%A0%EC%96%B4%ED%83%9D.jpg?type=w800">
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">쿠키런</h4>
                                <p class="card-text">쿠키런 설명을 여기다가 적으면 됩니다. 그러면 간단한 설명이 여기 보입니다.</p>
                            </div>
                        </div>
                    </a>
                </div>
        
                <div class="single-card col-lg-4">
                    <a href="/project/view">
                        <div class="card">
                            <div class="thumbnail-wrapper">
                                <img class="card-img-top" src="https://scontent.ficn3-1.fna.fbcdn.net/v/t1.0-9/101894917_3635149846500251_1475095853407404032_o.jpg?_nc_cat=1&_nc_sid=cdbe9c&_nc_eui2=AeF5El2NeTiScfUy9OOcq7XoaDb2yzXv5zpoNvbLNe_nOsPdVoLFufY5TNPsVJY1-nEnn2rgH_wqPLAZi3Jy7WVa&_nc_ohc=jXYdU9WDkOAAX_6ZodO&_nc_ht=scontent.ficn3-1.fna&oh=0997f2176ce2b77ab6c49d8b0e2059a4&oe=5EFAC02B">
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">쿠키런</h4>
                                <p class="card-text">쿠키런 설명을 여기다가 적으면 됩니다. 그러면 간단한 설명이 여기 보입니다.</p>
                            </div>
                        </div>
                    </a>
                </div>
        
                <div class="single-card col-lg-4">
                    <a href="/project/view">
                        <div class="card">
                            <div class="thumbnail-wrapper">
                                <img class="card-img-top" src="https://mblogthumb-phinf.pstatic.net/MjAxNzAzMThfMTU4/MDAxNDg5ODM2Njg3MTE5.onC88ZW1tO95OqXzh2leWG1juX-o3EeYmyDAMdP568sg.gOTTU8M0ug5jwKn4rxnXMMWddklKfNxtykdZ605iuXkg.JPEG.star7sss/%EC%84%9C%EB%93%A0%EC%96%B4%ED%83%9D.jpg?type=w800">
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">쿠키런</h4>
                                <p class="card-text">쿠키런 설명을 여기다가 적으면 됩니다. 그러면 간단한 설명이 여기 보입니다.</p>
                            </div>
                        </div>
                    </a>
                </div>
        
        
                <div class="single-card col-lg-4">
                    <a href="/project/add">
                        <div class="card">
                            <div class="card-add">
                                <img src="/imge/plus.png" style=" display: inline-block; height: 50%" />
                            </div>
                        </div>
                    </a>
                </div>
        
            </div>
        
        </div>

    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
