<!DOCTYPE html>
<html lang="ko">
  <head>
    <title>난새 - 포트폴리오</title>

    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

     <!--메인 CSS-->
     <link rel="stylesheet" href="/stylesheets/portfolioList.css" />
      <!--메인 JS-->
      <script type="text/javascript" src="/javascripts/portfolioList.js"></script>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

  </head>
  <body class="body">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="logo" href="/"
        ><img src="/imge/BLogo.png" width="79px" height="36px"
      /></a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="link nav-link" href="/calendar">일정</a>
          </li>
          <li class="nav-item">
            <a class="link nav-link" href="/outdoor">외부활동</a>
          </li>
          <li class="nav-item">
            <a class="link nav-link" href="/license">자격증</a>
          </li>
          <li class="nav-item">
            <a class="link nav-link" href="/portfolio">포트폴리오</a>
          </li>
        </ul>

        <span class="navbar-text">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="link nav-link" href="/users/mypage">회원가입수정</a>
            </li>
            <li class="nav-item">
              <a class="link nav-link" href="/users/logout">로그아웃</a>
            </li>
          </ul>
        </span>
      </div>
    </nav>
    <div class = "container-fluid">
        <table class="table table-bordered" style="border: 0px">
            <thead></thead>
            <tbody>
            <tr>
                <th>PROFILE</th>
            </tr>
            <tr>
                <td><span class="border"></span></td>
            </tr>
            <tr>
                <td>이름</td>
            </tr>
            <tr>
                <td>전화번호</td>
            </tr>
            <tr>
                <td>이메일</td>
            </tr>
            <tr><td colspan = "3"><p></p></td></tr><tr><td colspan = "3"><p></p></td></tr>
            <tr>
                <th>CERTIFICATE</th>
            </tr>
            <tr>
                <td>ITQ 한글</td>
                <td>2016.12.02</td>
            </tr>
            <tr><td><p></p></td></tr><tr><td><p></p></td></tr>
            <tr>
                <th>OUTDOOR</th>
            </tr>
            <tr>
                <td>네이버 앙트십</td>
                <td>2018.03.17</td>
                <td>2018.07.24</td>
            </tr>
            <tr><td><p></p></td></tr><tr><td><p></p></td></tr>
            <tr>
                <th>PROJECT</th>
            </tr>
            <tr>
                <td>난새</td>
            </tr>
            <tr>
                <td>포트폴리오 관리 사이트입니다.</td>

            </tr>
            <tr>
                <td>2020.03.27 - 2020.06.24</td>
            </tr>
            <tr>
                <td>프론트엔드 / 디자인</td>
            </tr>
            <tr>
                <td>전은정 엄하늘 장원이</td>
            </tr>
            <tr>
                <th>IMAGE</th>
            </tr>
            <tr>
                <td><br>
                        <div class="row">
                            <div class="col-sm-2 imgUp">
                                <div class="imagePreview"></div><p></p>
                                <br><label class="btn btn-primary">
                                    Upload<input type="file" class="uploadFile img" value="Upload Photo" style="width: 0px;height: 0px;overflow: hidden;">
                                </label>
                            </div><!-- col-2 -->
                            <i class="fa fa-plus imgAdd"></i>
                        </div><!-- row -->
                </td>
            </tr>
            </tbody>
        </table>
    </div>
  </body>
</html>
