a:link {
  color: white;
  text-decoration: none;
}
a:visited {
  color: white;
  text-decoration: none;
}
a:hover {
  color: white;
  text-decoration: none;
}

.body {
  width: 100%;
  background-color: #78cbd7;
  font-family: "Noto Sans KR", sans-serif;
}

#topNav {
  font-size: 1.25em;
  padding: 35px 45px;
}

#topNav > a {
  padding: 20px;
}

#topNav .left-text {
  float: left;
}

#topNav .right-text {
  float: right;
}

.login-section {
  display: block;
  max-width: 100%;
  padding: 0;
  margin-top: 220px;
}

.login-section .logo {
  margin-bottom: 30px;
}