.body {
  width: 100%;
  background-color: #F5F6F7;
  font-family: "Noto Sans KR", sans-serif;
}

header {
  margin: 76px 0 37px;;
}

footer {
  margin: 76px 0 17px;
  font-size: 14px;
}

.logo {
  margin: 20px 0;

  font-weight: 900;
  font-size: 48px;
  line-height: 42px;
  text-align: center;
  color: #004DA0;
}
.logo:hover {
  text-decoration-color: #F5F6F7;
}

h1, h3 {
  margin: 0;
}

.info {
  width: 315px;
  font-size: 15px;
  color: #263747;
  text-align: left;
}

.input {
  padding: 10px;

  font-size: 14px;
  width: 315px;
  height: 50px;
  background: #FFFFFF;
  border: 1px solid #B2C1CC;
}

.input-id {
  padding: 10px;

  width: 189px;
  height: 50px;
  background: #FFFFFF;
  border: 1px solid #B2C1CC;
}

.button-id {
  width: 120px;
  height: 50px;
  background: #004DA0;
  border: 1px solid #004DA0;

  font-weight: bold;
  text-align: center;
  color: #FFFFFF;
}

.input-zipcode {
  width: 154px;
  height: 50px;
  background: #FFFFFF;
  border: 1px solid #B2C1CC;
}

.button-zipcode {
  width: 155px;
  height: 50px;
  background: #004DA0;
  border: 1px solid #004DA0;

  font-weight: bold;
  text-align: center;
  color: #FFFFFF;
}

.up {
  margin-top: 20px;
}

.under {
  margin-bottom: 5px;
}

.submit-button {
  width: 315px;
  height: 55px;
  background: #007BFF;
  border: 1px solid #007BFF;

  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;;
}

#id_check_success {
  backdrop-image: url('../imge/check.png');
}