a:link { color: white; text-decoration: none; }
a:visited { color: white; text-decoration: none; }
a:hover { color: white; text-decoration: none; }

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
}

.body {
  width: 100%;
  background-color: #78cbd7;
  font-family: "Noto Sans KR", sans-serif;
}

#topNav {
  font-size: 1.25em;
  padding: 35px 45px;
}

#topNav .login {
  float: right;
}




/* 폰트  */
.f {
  color: #082357;
  font-size: 1.05em;
  font-family: "Noto Sans KR", sans-serif;
}

/* 완료 버튼  */
.btn1 {
  background: transparent;
  border: none;
}

/* 버튼  */
.check1 {
  position: relative;
  left: 400px;
}

/* 버튼  */
.table {
  position: relative;
  width: 100px;
  left: 200px;
  top: -10px;
}
