.body {
  width: 100%;
  background-color: #F5F6F7;
  font-family: "Noto Sans KR", sans-serif;
}

.logo {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;

  font-weight: 900;
  font-size: 2rem;
  line-height: 42px;
  text-align: center;
  color: #004DA0;
}

.logo:hover, .logo:focus {
  text-decoration: none;
}

.link {
  margin-top: 3px;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #646464;

}

.context {
  margin-top: 80px;
}

.add-license {
  margin-bottom: 10px;
}