.body {
  width: 100%;
  background-color: #F5F6F7;
  font-family: "Noto Sans KR", sans-serif;
}

.logo {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;

  font-weight: 900;
  font-size: 2rem;
  line-height: 42px;
  text-align: center;
  color: #004DA0;
}

.logo:hover, .logo:focus {
  text-decoration: none;
}
