a:link { color: white; text-decoration: none; }
a:visited { color: white; text-decoration: none; }
a:hover { color: white; text-decoration: none; }


.body {
  width: 100%;
  background-color: #78cbd7;
  font-family: "Noto Sans KR", sans-serif;
}

#topNav {
  font-size: 1.25em;
  padding: 35px 45px;
}

#topNav .join {
  float: right;
}

.login-section {
  max-width: 100%;
  padding: 0;
  margin-top: 120px;
}

.login {
  width: 654px;
  height: 460px;
  background-color: white;
  box-shadow: 20px 20px 0 rgba(0, 0, 0, 0.164);
  margin: auto;
  position: relative;
  padding-top: 45px;
  text-align: center !important;
  
}

.login-title {
  color: #082357;
  font-size: 25px;
  font-weight: 800;
  margin-top: 10px;
  margin-bottom: 50px;
}

.login-id {
  margin-bottom: 15px;
}

h3 {
  display: inline;
  font-family: "Noto Sans KR", sans-serif;
}

.login-id input, .login-pw input{
  width: 381px;
  height: 55px;
  border: solid 2px #082357;
  background-color: #082357;
  color: white;
  outline: none;
  padding-left: 20px;
  /* text-align: center; */
  letter-spacing: .0625em;
 
} 

.login-btn {
  width: 381px;
  height: 64px;
  border: 2px solid #082357;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  
  color: #082357;
  font-size: 20px;
  font-weight: 800;
  margin-top: 27px;
  outline: none;
  -webkit-appearance: none;
  padding: 0;

  letter-spacing: .0625em;

}
.login-btn:hover {
  background-color: #082357;
  color: #fff;
}