a:link { color: black; text-decoration: none; !important}
a:hover { color: red; text-decoration: none; !important}
a:visited { color: black; text-decoration: none; !important}
a:active { color: red; text-decoration: none; !important}

.body {
    width: 100%;
    background-color: #F5F6F7;
    font-family: "Noto Sans KR", sans-serif;
}

.logo {
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;

    font-weight: 900;
    font-size: 2rem;
    line-height: 42px;
    text-align: center;
    color: #004DA0;
}

.logo:hover, .logo:focus {
    text-decoration: none;
}

.link {
    margin-top: 3px;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #646464;

}

.add-button {
    text-align: center;
}

.input-box {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.textarea-box {
    display: block;
    width: 100%;
    height: calc(8.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.context {
    margin-top: 80px;
}

.add-license {
    margin-bottom: 10px;
}